* {
    box-sizing: border-box;
}

a {
    color: black;
}

.header {
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.welcome {

    font-weight: 700;
}

.play-button, .rules-button, .contact-button{
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 5px;
    margin: 10px;
    width: 100px;
    border-radius: 10px;

}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: powderblue;
    width: 175px;
    border-radius: 15px;
   
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
    
}

